.interface {
  background-color: rgb(181, 181, 181);
  min-height: 100vh;
}

@media screen and (max-width: 1310px) {
  .interface {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .interface {
    min-height: 40vh;
  }
}
@media screen and (max-width: 770px) {
  .interface {
    position: relative;
  }
}

@media screen and (max-width: 540px) {
  .interface {
    min-height: 68vh;
  }
}
