h5 {
  margin-bottom: unset !important;
}
body {
  padding: 5rem;
  background-color: rgb(5, 13, 83) !important;
}
button {
  font-size: 1rem;
  border-radius: 1rem !important;
  border: white solid 1px !important;
  background-color: rgb(5, 13, 83);
  color: white;
  &:hover {
    background-color: rgb(134, 185, 205);
    color: black;
  }
  padding: 0.05rem 0.5rem;
}
.button {
  margin-left: 0.5rem;
}
.divv {
  width: 100%;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.button2 {
  margin-right: 0.5rem;
}

.thepadding {
  padding: 0.5rem;
  width: 20%;
}
.margin {
  margin-left: 0.2rem;
}

.appClass {
  min-height: fit-content;

  border-radius: 1rem;
  background-color: rgb(134, 185, 205);
  border: 5px white solid;
  padding-bottom: 1rem;
}
.custDataZone {
  height: 50vh;
  border: 2px white solid;
}
p {
  margin-bottom: unset !important;
}

@media screen and (max-width: 615px) {
  body {
    padding: 0 !important;
    background-color: rgb(134, 185, 205) !important;
    #root {
      .appClass {
        border: unset;
        border-radius: unset;
      }
    }
  }
}
