.ordinputss {
  width: 7rem;
}

.header {
  width: 100%;
  padding: 0.5rem;

  height: 15vh;
  .title {
    height: 100%;
  }
}
.inputArea {
  height: 15vh;
  background-color: rgb(181, 181, 181);
  .inputsss {
    width: 15rem;
    font-size: 1rem;
    text-align: left;
    padding: 5px;
    border: unset !important;
    margin-right: 1rem;
  }
  .inputAreabutton {
    font-size: 1rem !important;
    padding: 0.25rem 1rem !important;
    margin-right: 1rem;
  }
  .dateInput {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .clearDateBtn {
    border: unset !important;
    padding: 0.25rem 1rem !important;
    margin-left: 0.5rem;
    width: 4rem;
    font-size: 1rem !important;
  }
}
.addBtn {
  font-size: 1rem !important;
  padding: 0.25rem 1rem !important;
}
.formElement {
  &::placeholder {
    opacity: 0.3 !important;
  }
  color: #050d53 !important;
  font-weight: 600 !important;
}
.editAndCreateBtn {
  padding: 0.5rem, 1rem !important;
  width: 6rem;
}
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@media screen and (max-width: 1135px) {
  .inputArea {
    .inputsss {
      width: 10rem;

      font-size: 0.8rem;
    }
    .inputAreabutton {
      font-size: 0.8rem !important;
      padding: 0.25rem 1rem !important;
    }
    .dateInput {
      font-size: 0.8rem;
      margin-right: 0.5rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .addBtn {
    font-size: 0.8rem !important;
  }
  .h3 {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 800px) {
  .addBtn {
    font-size: 0.7rem !important;
  }
  .h3 {
    font-size: 1.3rem !important;
  }
}
@media screen and (max-width: 885px) {
  .inputArea {
    .inputsss {
      width: 8rem;
      font-size: 0.8rem;
    }
    .inputAreabutton {
      font-size: 0.8rem !important;
      padding: 0.25rem 1rem !important;
    }
  }
}
@media screen and (max-width: 770px) {
  .header {
    height: 12vh;
    border-bottom: #050d53 1px solid;
  }
  .addBtn {
    font-size: 0.8rem !important;
  }
  .h3 {
    font-size: 1.5rem !important;
  }
  .inputArea {
    height: 16vh;
    .colCoverInput {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      height: 8vh;
    }
    .inputsss {
      width: 10rem;
    }
  }
}
@media screen and (max-width: 770px) {
  .headerSticky {
    position: sticky;
    top: 0;
  }
  .inputAreaSticky {
    position: sticky;
    top: 25vh;
    background-color: rgb(181, 181, 181);
  }
}
@media screen and (max-width: 450px) {
  .inputArea {
    height: 16vh;
  }
}
